{#
/**
 * @file
 * Template to display a view as a calendar week.
 *
 * Available variables:
 * - day_names: An array of the day of week names for the table header.
 * - rows: The rendered data for this week.
 *
 * For each day of the week, you have:
 * - rows['date'] - the date for this day, formatted as YYYY-MM-DD.
 * - rows['datebox'] - the formatted datebox for this day.
 * - rows['empty'] - empty text for this day, if no items were found.
 * - rows['all_day'] - an array of formatted all day items.
 * - rows['items'] - an array of timed items for the day.
 * - rows['items'][$time_period]['hour'] - the formatted hour for a time period.
 * - rows['items'][$time_period]['ampm'] - the formatted ampm value, if any for a time period.
 * - rows['items'][$time_period]['values'] - An array of formatted items for a time period.
 *
 * @see template_preprocess_calendar_week()
 *
 * @ingroup themeable
 */
#}
<div class="calendar-calendar"><div class="week-view">
<table class="full">
  <thead>
    <tr>
      {% if by_hour_content > 0 or start_times is not empty %}
      <th class="calendar-agenda-hour">{% trans %}Time{% endtrans %}</th>
      {% endif %}
      {% for cell in day_names %}
        <th class="{{ cell.class }}" id="{{ cell.header_id }}">
          {{ cell.data }}
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {%  for i in multiday_rows %}
      {# todo convert to twig #}
      {% set row_class = 'all-day' %}
      {% set row_class = loop.first ?: 'first' %}
      {% set row_class = loop.last ?: 'last' %}
      {#$colpos = 0; #}
      {#$rowclass = "all-day";#}
      {#if( $i == 0) {#}
        {#$rowclass .= " first";#}
      {#}#}
      {#if( $i == $multiday_rows - 1) {#}
        {#$rowclass .= " last";#}
      {#}#}

    <tr class="todo {{ row_class }}">
      <?php if($i == 0 && ($by_hour_count > 0 || !empty($start_times))) :?>
      <td class="<?php print $agenda_hour_class ?>" rowspan="<?php print $multiday_rows?>">
        <span class="calendar-hour"><?php print t('All day', array(), array('context' => 'datetime'))?></span>
      </td>
      <?php endif; ?>
      <?php for($j = 0; $j < 6; $j++): ?>
        <?php $cell = (empty($all_day[$j][$i])) ? NULL : $all_day[$j][$i]; ?>
        <?php if($cell != NULL && $cell['filled'] && $cell['wday'] == $j): ?>
          <?php for($k = $colpos; $k < $cell['wday']; $k++) : ?>
          <td class="multi-day no-entry"><div class="inner">&nbsp;</div></td>
          <?php endfor;?>
          <td colspan="<?php print $cell['colspan']?>" class="multi-day">
            <div class="inner">
            <?php print $cell['entry']?>
            </div>
          </td>
          <?php $colpos = $cell['wday'] + $cell['colspan']; ?>
        <?php endif; ?>
      <?php endfor; ?>  
      <?php for($j = $colpos; $j < 7; $j++) : ?>
      <td class="multi-day no-entry"><div class="inner">&nbsp;</div></td>
      <?php endfor;?>
    </tr>
    {% endfor %}
    {% for time in items %}
    <tr class="not-all-day">
      <td class="calendar-agenda-hour">
        <span class="calendar-hour">{{ time.hour }}</span><span class="calendar-ampm">{{ time.ampm }}</span>
      </td>
      {% set current_position = 0 %}
      {% for column in columns %}
        {% set column_position = time.values.column[0] ? time.values.column[0].wday : loop.index %}
        {% for i in column_position %}
          <td class="calendar-agenda-items single-day">
            <div class="calendar">
              <div class="inner">&nbsp</div>
            </div>
          </td>
        {% endfor %}
        {% set current_position = current_position + 1 %}
        <td class="calendar-agenda-items single-day" headers="{{ header_ids[loop.index - 1] }}">
          <div class="calendar">
            <div class="inner">
              {% for item in time.values[column] %}
                {# todo this should render the full calendar_item entry {{ item.entry }} #}
                {{ item.item.title }}
              {% endfor %}
            </div>
          </div>
        </td>
      {% endfor %}
      {% for i in current_position..7 %}
        <td class="calendar-agenda-items single-day">
          <div class="calendar">
            <div class="inner">&nbsp</div>
          </div>
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div></div>
